<ion-content>

  
  <ion-slides pager="true">

    <ion-slide class="slide-one">
      <ion-img src="/assets/icon/favicon.png"></ion-img>
      <h1>Ruta Escondida</h1>
      <p>Perucho/Puellaro/Chavezpamba</p>
    </ion-slide>

    <ion-slide class="slide-two">
      <ion-img src="/assets/icon/favicon.png"></ion-img>
      <h1>Diseña tu propia ruta</h1>
      <p>Y conoce nuestras Paroquias </p>
      <ion-button color="success" (click)="abirLogin()">Logearse</ion-button>   
    </ion-slide>
 
  </ion-slides>

</ion-content>