ion-slide{

    height: 100vh;
    flex-direction: column;
}

ion-img{
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}

.slide-one{
background: #1F2739;
color: #fff;    
}

.slide-two{
    background: #fff;
color: #1F2739; 
}

.labelintro{
    margin-left: 10px;
    margin-right: 10px;
}

.labelintro span{
    font-size: 14px;
}


.map{
    height: 50%;
    width: 90%;
    margin-left: 5%;
}